*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0d0d0d;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

/* LOGO CONTAINER */

.logo-container{
    text-align:center;
}

/* MAIN LOGO */

.main-logo{
    text-decoration:none;

    display:flex;
    align-items:center;
    gap:15px;

    padding:20px 35px;

    border-radius:15px;

    background:#1b1b1b;

    border:2px solid #ff33d4;

    transition:0.4s;

    box-shadow:0 0 20px rgba(255,51,212,0.3);
}

/* HOVER */

.main-logo:hover{
    transform:scale(1.08);

    box-shadow:0 0 35px rgba(255,51,212,0.6);
}

/* ICON */

.icon{
    width:65px;
    height:65px;

    border-radius:50%;

    background:linear-gradient(135deg,#ff33d4,#b30086);

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;

    font-size:32px;

    font-weight:bold;
}

/* TEXT */

.text{
    font-size:42px;

    font-weight:bold;

    color:white;

    letter-spacing:2px;
}